<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello" verbose="1" >
    <test name="SmokeTest" >
        <classes>
            <class name="com.meir.trello.LoginTest_HW_03" />
            <class name="com.meir.trello.BoardCreationTests" />
            <class name="com.meir.trello.BoardDeletionTest" />
        </classes>
    </test>
</suite>
